@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: Montserrat;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #000;
  font-size: 14px;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1040px;
  margin: 0px auto;
  padding: 0px 20px;
  position: relative;
}
@media (max-width: 768px) {
  ._container {
    padding: 0 10px;
  }
}
@media (max-width: 640px) {
  ._container {
    padding: 0px 5px;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px;
  height: 48px;
  border-radius: 37px;
  border: 1px solid #0d5c63;
  color: #0d5c63;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 992px) {
  .btn:hover {
    background-color: #ff7b47;
    color: #fff;
    border: 1px solid #ff7b47;
  }
}
.btn_gray {
  background-color: #e6e6e6;
  color: #666;
}
@media (min-width: 992px) {
  .btn_gray:hover {
    background-color: #a1a1a1;
  }
}
.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}
.select__item {
  position: relative;
  min-width: 166px;
}
.select__title {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.select__value {
  display: flex;
  font-size: 14px;
  height: 30px;
  color: #0097ac;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.select__value::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 7px;
  transition: all 0.3s ease 0s;
  top: 0;
  left: 0;
  background: url("../img/icons/catalog/select.png") center/100% no-repeat;
}
.select__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29;
  left: 0;
  min-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}
@media (max-width: 992px) {
  .select__options {
    font-size: 18px;
  }
}
.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select._show .select__item {
  min-width: 0;
  border: 2px solid #f3f3f3;
}
.select._show .select__value {
  color: #999;
  font-weight: 900;
}
.select._active {
  z-index: 5;
}
.select._active .select__value::before {
  transform: rotate(-180deg);
}
.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 30px;
  display: block;
  padding: 0px 15px;
}
.input._error {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox__input:checked + .checkbox__text::before {
  border: 2px solid #009aaf;
}
.checkbox__input:checked + .checkbox__text::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background-color: #53b5de;
}
.checkbox__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  color: #666;
  line-height: 125%;
  cursor: pointer;
}
.checkbox__text::before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 15px;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #a7a9ac;
}
.checkbox a {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}
.checkbox._error .checkbox__text::before {
  border: 1px solid #ee1212;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}
.options__input:checked + .options__text:after {
  transform: scale(1);
}
.options__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}
.options__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.options__text:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
}
.quantity__button {
  flex: 0 0 20px;
  position: relative;
  cursor: pointer;
  background: url("../img/icons/catalog/cat_arrow_gray.png") 0 0/100% no-repeat;
  width: 20px;
  height: 17px;
}
@media (min-width: 992px) {
  .quantity__button:hover {
    background: url("../img/icons/catalog/cat_arrow_orange.png") 0 0/100% no-repeat;
  }
}
.quantity__button_plus {
  transform: rotate(-180deg);
}
@media (min-width: 992px) {
  .quantity__button_plus:hover {
    transform: rotate(0deg);
  }
}
@media (min-width: 992px) {
  .quantity__button_minus:hover {
    transform: rotate(-180deg);
  }
}
.quantity__input {
  flex: 1 1 auto;
  padding: 0px 12px;
  height: 33px;
}
.quantity__input input {
  height: 100%;
  color: #999;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border: 2px solid #ededed;
}

._arrow {
  width: 43px;
  height: 33px;
  background: url("../img/icons/popular/sl_arrow-right-green.svg") center/contain no-repeat;
  cursor: pointer;
}
@media (min-width: 992px) {
  ._arrow:hover {
    transform: rotate(-180deg);
    background: url("../img/icons/products/arrow_orange.png") center/contain no-repeat;
  }
}

._arrow_prev {
  transform: rotate(-180deg);
}
@media (min-width: 992px) {
  ._arrow_prev:hover {
    transform: rotate(0deg);
  }
}

.row::after {
  display: block;
  content: "";
  clear: both;
}

.rub::after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
._ibg body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
._ibg body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translatex(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext_more {
  cursor: pointer;
}
.moretext_more span {
  font-style: normal;
}
.moretext_more span:first-child {
  display: block;
}
.moretext_more span:last-child {
  display: none;
}
.moretext_more.active span {
  font-style: normal;
}
.moretext_more.active span:first-child {
  display: none;
}
.moretext_more.active span:last-child {
  display: block;
}

#map {
  background: url(" ../img/icons/loading.gif") center/50px no-repeat;
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header__container {
  position: relative;
  z-index: 3;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__logo {
  flex: 0 0 21.5%;
  color: #252b42;
  padding: 0px 10px 0px 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
  transition: all 0.3s ease 0s;
}
@media (min-width: 992px) {
  .header__logo:hover {
    letter-spacing: 2px;
  }
}
.menu__body {
  flex: 1 1 100%;
  padding: 0px 10px 0px 0px;
}
.menu__list {
  margin: 0px -10px;
  flex-wrap: wrap;
  display: flex;
}
.menu__list li {
  margin: 0px 5px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 992px) {
  .menu__list li:hover {
    transform: rotate(-10deg);
  }
}
.menu__link {
  padding: 5px;
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.2px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 992px) {
  .menu__link:hover {
    color: #0d5c63;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 640px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 3px;
    top: calc(50% - 1px);
    left: 0;
    background-color: #0d5c63;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.page {
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .page__container {
    display: flex;
  }
}
.page__services {
  margin: -110px 0px 0px 0px;
}
.page__advantages {
  margin: -134px 0px 0px 0px;
  padding: 134px 0px 0px 0px;
}
.page .breadcrumbs {
  overflow: auto;
  margin: 0px 0px 20px 0px;
  height: 20px;
}
.page .breadcrumbs__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.page .breadcrumbs__list li {
  margin: 0px 10px 0px 0px;
  padding: 0px 20px 0px 0px;
  background: url("../img/icons/arrow_text.png") right/10px no-repeat;
}
.page .breadcrumbs__list li:last-child {
  margin: 0px 0px 0px 0px;
  background: none;
}
.page .breadcrumbs__link {
  color: #1ab9ce;
  text-decoration: underline;
}
.page .breadcrumbs__item {
  color: 999px;
  font-weight: 300;
}

.mainblock {
  position: relative;
}
.mainblock__container {
  display: flex;
}
.mainblock__contant {
  position: relative;
  z-index: 2;
  padding: 184px 10px 190px 0px;
  flex: 0 1 40%;
}
@media (max-width: 640px) {
  .mainblock__contant {
    flex: 0 1 300px;
  }
}
.mainblock__contant > * {
  margin: 0px 0px 30px 0px;
}
.mainblock__contant > *:last-child {
  margin: 0px 0px 0px 0px;
}
.mainblock__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: calc(38px + 20 * ((100vw - 320px) / 1120));
  font-weight: 800;
  line-height: 137.931%;
  /* 80px */
  letter-spacing: 0.2px;
}
.mainblock__text {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  font-weight: 500;
  line-height: 150%;
  /*  30px*/
  letter-spacing: 0.2px;
  color: #737373;
}
.mainblock__body-btn {
  display: flex;
  flex-wrap: wrap;
}
.mainblock__button {
  margin: 0px 5px 10px 0px;
}
.mainblock__button:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 992px) {
  .mainblock__button {
    flex: 1 1 100%;
    margin: 0px -10px 10px 0px;
  }
  .mainblock__button:last-child {
    margin: 0px -10px 0px 0px;
  }
}
.mainblock__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mainblock__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: right;
}
@media (max-width: 992px) {
  .mainblock__image img {
    opacity: 0.5;
  }
}

.services__colums {
  display: flex;
  margin: 0px -15px;
}
@media (max-width: 992px) {
  .services__colums {
    margin: 0px -7.5px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.services__colum {
  flex: 0 1 33.333%;
  margin: 0px 15px;
}
@media (max-width: 992px) {
  .services__colum {
    margin: 7.5px;
  }
  .services__colum:last-child {
    margin: 7.5px 7.5px 0px 7.5px;
  }
}
.colum-services {
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease 0s;
}
@media (min-width: 992px) {
  .colum-services:hover {
    background-color: #0d5c63;
  }
  .colum-services:hover .colum-services__icon_enviroment {
    background: url("../img/services/enviroment_h.svg") 0 0 no-repeat;
  }
  .colum-services:hover .colum-services__icon_finance {
    background: url("../img/services/finance_h.svg") 0 0 no-repeat;
  }
  .colum-services:hover .colum-services__icon_services {
    background: url("../img/services/services_h.svg") 0 0 no-repeat;
  }
  .colum-services:hover .colum-services__label {
    color: #fff;
  }
  .colum-services:hover .colum-services__text {
    color: #fff;
  }
}
.colum-services__body > * {
  margin: 0px 0px 10px 0px;
}
.colum-services__body > *:last-child {
  margin: 0px 0px 0px 0px;
}
.colum-services__body {
  padding: 35px 40px;
}
.colum-services__icon {
  width: 50px;
  height: 50px;
}
.colum-services__icon_enviroment {
  background: url("../img/services/Enviroment.svg") 0 0 no-repeat;
}
.colum-services__icon_finance {
  background: url("../img/services/finance.svg") 0 0 no-repeat;
}
.colum-services__icon_services {
  background: url("../img/services/services.svg") 0 0 no-repeat;
}
.colum-services__label {
  color: #252b42;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
  letter-spacing: 0.1px;
}
.colum-services__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.2px;
}

.advantages {
  background-color: #fafafa;
}
.advantages__body {
  margin: 80px 0px 0px 0px;
}
.advantages__top {
  max-width: 620px;
}
.advantages__colums {
  display: flex;
  margin: 0px -15px;
}
@media (max-width: 992px) {
  .advantages__colums {
    margin: 0px -7.5px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.advantages__colum {
  flex: 0 1 33.333%;
  margin: 0px 15px;
}
@media (max-width: 992px) {
  .advantages__colum {
    margin: 7.5px;
  }
  .advantages__colum:last-child {
    margin: 7.5px 7.5px 0px 7.5px;
  }
}
.title-block > * {
  margin: 0px 0px 10px 0px;
}
.title-block > *:last-child {
  margin: 0px 0px 0px 0px;
}

.title-block {
  margin: 0px auto;
  text-align: center;
}
.title-block__title {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  /* 142.5% */
  letter-spacing: 0.2px;
}
@media (max-width: 1040px) {
  .title-block__title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 720));
  }
}
.title-block__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.2px;
}

.colum-advantages {
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease 0s;
}
.colum-advantages__body > * {
  margin: 0px 0px 10px 0px;
}
.colum-advantages__body > *:last-child {
  margin: 0px 0px 0px 0px;
}
.colum-advantages__body {
  padding: 35px 40px;
}
.colum-advantages__body__icon {
  width: 50px;
  height: 50px;
}
.colum-advantages__body__icon_consumer {
  background: url("../img/services/Enviroment.svg") 0 0 no-repeat;
}
.colum-advantages__body__icon_services {
  background: url("../img/services/finance.svg") 0 0 no-repeat;
}
.colum-advantages__body__icon_environmental {
  background: url("../img/services/services.svg") 0 0 no-repeat;
}
.colum-advantages__body__label {
  color: #252b42;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
  letter-spacing: 0.1px;
}
.colum-advantages__body__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.2px;
}