.header {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	// .header__container
	&__container {
		position: relative;
		z-index: 3;
		// height: 12.5vw;
		height: 104px;
		display: flex;
		align-items: center;
	}
	// .header__logo
	&__logo {
		flex: 0 0 21.5%;
		color: #252b42;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px; /* 133.333% */
		transition: all 0.3s ease 0s;
		@media (min-width: ($md2+px)) {
			&:hover {
				// font-weight: 800;
				letter-spacing: 2px;
			}
		}
	}
	// .header__menu
	&__menu {
	}
}
//=================================
.menu {
	// .menu__body
	&__body {
		flex: 1 1 100%;
	}
	// .menu__list
	&__list {
		margin: 0px -10px;
		display: flex;
		li {
			margin: 0px 5px;
			transition: all 0.3s ease 0s;
			@media (min-width: ($md2+px)) {
				&:hover {
					transform: rotate(-10deg);
				}
			}
		}
	}
	// .menu__link
	&__link {
		padding: 5px;
		color: #737373;
		font-size: 14px;
		font-weight: 600;
		line-height: 24px; /* 171.429% */
		letter-spacing: 0.2px;
		transition: all 0.3s ease 0s;
		@media (min-width: ($md2+px)) {
			&:hover {
				color: #0d5c63;
			}
		}
		// transition: all 0.3s ease 0s;
	}
	// .menu__icon
	&__icon {
	}
}
//======================================================================
//BURGER
.icon-menu {
	display: none;
	@media (max-width: ($md2 + px)) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		top: 0px;
		left: 10px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			position: absolute;
			width: 100%;
			height: 2px;
			top: calc(50% - 1px);
			left: 0;
			background-color: #fff;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
