//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================

//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
@import "icons";
//</Иконочные шрифты>=================================

//<Swiper>=================================
@import "swiper-bundle";
//</Swiper>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: Montserrat;
//</Шрифт по умолчанию>=================================

//</ШРИФТЫ>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1040;
$md1: $maxWidthContainer + 12; //1192px
$md2: 989.98;
$md3: 759.98;
$md4: 639.98;
$md5: 479.98;

$mainColor: #0d5c63;
$redColor: #e74040;
$orangeColor: #ff7b47;
$greyColor: #737373;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОСНОВНАЯ СЕТКА>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
	position: relative;
	// min-width: 0;
	@media (max-width: ($md3+px)) {
		padding: 0 10px;
	}
	@media (max-width: ($md4+px)) {
		padding: 0px 5px;
	}
}
//</ОСНОВНАЯ СЕТКА>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
//@import "datepicker";
//@import "lightgallary";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
	flex: 1 1 auto;
	// background-color: rgba(0, 0, 0, 0.3);
	// .page__container
	&__container {
		// padding: 0px 0px 20px 0px;
		@media (min-width: ($md2+px)) {
			display: flex;
		}
	}
	// .page__mainblock
	&__mainblock {
	}
	// .page__services
	&__services {
		margin: -110px 0px 0px 0px;
	}
	// .page__advantages
	&__advantages {
		margin: -134px 0px 0px 0px;
		padding: 134px 0px 205px 0px;
		@media (max-width: ($md3+px)) {
			padding: 100px 0px 70px 0px;
		}
	}
	// .page__practice
	&__practice {
		padding: 0px 0px 80px 0px;
		margin: 0px 0px 100px 0px;
		@media (max-width: ($md3+px)) {
			padding: 0px 0px 40px 0px;
			margin: 0px 0px 50px 0px;
		}
	}
	// .page__whoweare
	&__whoweare {
		margin: 0px 0px 136px 0px;
		@media (max-width: ($md3+px)) {
			margin: 0px 0px 50px 0px;
		}
	}
	// .page__brands
	&__brands {
		padding: 50px 0px 137px 0px;
		@media (max-width: ($md3+px)) {
			padding: 50px 0px 50px 0px;
		}
	}
	// .page__subscribe
	&__subscribe {
		padding: 50px 0px 137px 0px;
		@media (max-width: ($md3+px)) {
			padding: 50px 0px 50px 0px;
		}
	}
	// .page__getintouch
	&__getintouch {
	}
	//======================================================================
	.breadcrumbs {
		overflow: auto;
		margin: 0px 0px 20px 0px;
		height: 20px;
		// .breadcrumbs__list
		&__list {
			display: flex;
			align-items: center;
			white-space: nowrap;
			li {
				margin: 0px 10px 0px 0px;
				padding: 0px 20px 0px 0px;
				background: url("../img/icons/arrow_text.png") right / 10px no-repeat;
				&:last-child {
					margin: 0px 0px 0px 0px;
					background: none;
				}
			}
		}
		// .breadcrumbs__link
		&__link {
			color: #1ab9ce;
			text-decoration: underline;
		}
		// .breadcrumbs__item
		&__item {
			color: #999;
			font-weight: 300;
		}
	}

	//======================================================================
}
//======================================================================
.mainblock {
	position: relative;
	// .mainblock__container
	&__container {
		display: flex;
	}
	// .mainblock__contant
	&__contant {
		position: relative;
		z-index: 2;
		padding: 184px 10px 190px 0px;
		flex: 0 1 40%;
		@media (max-width: ($md4+px)) {
			flex: 0 1 300px;
		}
	}
	// .mainblock__contant
	&__contant > * {
		margin: 0px 0px 30px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .mainblock__title
	&__title {
		color: #252b42;
		font-family: Montserrat;
		@include adaptiv-font(58, 38, 0);
		// font-size: 58px;
		font-weight: 800;
		line-height: 137.931%; /* 80px */
		letter-spacing: 0.2px;
	}
	// .mainblock__text
	&__text {
		@include adaptiv-font(20, 16, 30);
		// font-size: 20px;
		font-weight: 500;
		line-height: 150%; /*  30px*/
		letter-spacing: 0.2px;
		color: #737373;
	}
	// .mainblock__body-btn
	&__body-btn {
		display: flex;
		flex-wrap: wrap;
	}
	// .mainblock__button
	&__button {
		margin: 0px 5px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: ($md2+px)) {
			flex: 1 1 100%;
			margin: 0px -10px 10px 0px;
			&:last-child {
				margin: 0px -10px 0px 0px;
			}
		}
	}
	// .mainblock__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: right;
			@media (max-width: ($md2+px)) {
				opacity: 0.5;
			}
		}
	}
}
.button {
}
//======================================================================
.services {
	// .services__container
	&__container {
	}
	// .services__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
		justify-content: center;
	}
	// .services__colums
	&__colums {
		flex: 0 1 33.333%;
		padding: 0px 15px;
		margin: 0px 0px 30px 0px;
		&:last-child {
			// margin: 0px 0px 0px 0px;
		}
		@media (max-width: ($md2+px)) {
			// margin: 0px -7.5px;
			// flex-wrap: wrap;
			// justify-content: center;
		}
		@media (max-width: ($md3+px)) {
		}
	}
	// .services__colum
	&__colum {
		height: 100%;
		min-width: 300px;
		@media (max-width: ($md2+px)) {
			// flex: 0 0 230px;
			// margin: 0px 7.5px;
			// margin: 7.5px;
			&:last-child {
				// margin: 7.5px 7.5px 0px 7.5px;
			}
		}
		@media (max-width: ($md3+px)) {
			// margin: 7.5px;
			// &:last-child {
			// 	margin: 7.5px 7.5px 0px 7.5px;
			// }
		}
		@media (max-width: ($md5+px)) {
			min-width: 280px;
		}
	}
}
.colum-services {
	position: relative;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #0d5c63;
			.colum-services__label,
			.colum-services__text,
			.colum-services__icon::before {
				color: #fff;
			}
		}
	}
	// .colum-services__body all
	&__body > * {
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .colum-services__body
	&__body {
		padding: 35px 40px;
	}
	// .colum-services__icon
	&__icon {
		position: relative;
		z-index: 5;
		color: $mainColor;
		font-size: 40px;
		// .colum-services__icon_enviroment
		&_enviroment {
		}
		// .colum-services__icon_finance
		&_finance {
		}
		// .colum-services__icon_services
		&_services {
		}
		@media (any-hover: hover) {
			&:hover {
				// .colum-services__icon_enviroment
				&_enviroment {
				}
				// .colum-services__icon_finance
				&_finance {
				}
				// .colum-services__icon_services
				&_services {
				}
			}
		}
	}
	// .colum-services__label
	&__label {
		color: #252b42;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px; /* 133.333% */
		letter-spacing: 0.1px;
	}
	// .colum-services__text
	&__text {
		color: #737373;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px; /* 142.857% */
		letter-spacing: 0.2px;
	}
}
//======================================================================
.advantages {
	background-color: #fafafa;
	// .advantages__container
	&__container {
	}
	// .advantages__body
	&__body {
		margin: 80px 0px 0px 0px;
	}
	// .advantages__top
	&__top {
		max-width: 620px;
		margin-bottom: 50px;
	}
	// .advantages__bottom
	&__bottom {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0px -15px -15px;
		&:last-child {
			margin-bottom: -30px;
		}
		@media (max-width: ($md2+px)) {
		}
		@media (max-width: ($md5+px)) {
			// display: block;
		}
	}
	// .advantages__colums
	&__colums {
		flex: 0 1 25%;
		margin: 0px 0px 30px 0px;
		padding: 0px 15px;
		@media (max-width: ($md2+px)) {
			// flex: 0 1 50%;
		}
		@media (max-width: ($md4+px)) {
			flex: 0 1 60%;
		}
		@media (max-width: ($md5+px)) {
			// flex: 0 1 90%;
		}
	}
	// .advantages__colum
	&__colum {
		min-width: 220px;
		height: 100%;
		@media (any-hover: hover) {
			&:hover {
				.colum-advantages__icon {
					color: $redColor;
				}
			}
		}
	}
}
// .title-block__title all
.title-block > * {
	margin: 0px 0px 10px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
.title-block {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	// .title-block__body
	&__body {
	}
	// .title-block__title
	&__title {
		color: #252b42;
		@include adaptiv-font(40, 30, 1);
		font-weight: 700;
		line-height: 57px; /* 142.5% */
		letter-spacing: 0.2px;
	}
	// .title-block__text
	&__text {
		color: #666;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px; /* 142.857% */
		letter-spacing: 0.2px;
	}
}
.colum-advantages {
	position: relative;
	z-index: 2;
	background-color: #fff;
	// background-color: #666;
	transition: all 0.3s ease 0s;
	// .colum-advantages__body all
	&__body > * {
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .colum-advantages__body
	&__body {
		text-align: center;
		padding: 30px 35px;
		@media (max-width: ($md2+px)) {
		}
	}
	// .colum-advantages__icon
	&__icon {
		display: inline-block;
		font-size: 44px;
		color: $mainColor;
		transition: color 0.3s ease 0s;
	}
	// .colum-advantages__label
	&__label {
		color: #252b42;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px; /* 133.333% */
		letter-spacing: 0.1px;
	}
	// .colum-advantages__text
	&__text {
		color: #737373;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px; /* 142.857% */
		letter-spacing: 0.2px;
		// white-space: nowrap;
	}
}
//======================================================================
.practice {
	background-color: #fafafa;
	// .practice__container
	&__container {
	}
	// .practice__body
	&__body {
	}
	// .practice__top
	&__top {
		margin: 0px 0px 45px 0px;
	}
	// .practice__bottom
	&__bottom {
	}
}
.item {
	// .item__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -15px -30px;
	}
	// .item__colums
	&__colums {
		flex: 0 1 25%;
		padding: 0px 15px;
		margin-bottom: 30px;
		@media (max-width: ($md2+px)) {
			flex: 0 1 50%;
		}
		@media (max-width: ($md5+px)) {
			display: block;
		}
	}
}
.bottom-practice {
	// .bottom-practice__item
	&__item {
		min-width: 200px;
		height: 100%;
		display: flex;
		@media (max-width: ($md5+px)) {
			min-width: 280px;
		}
	}
}
.item-practice {
	// background-color: #f3f3f3;
	background-color: #fff;
	// .item-practice__frame
	&__frame {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	// .item-practice__body all
	&__body > * {
		margin: 0px 0px 15px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .item-practice__body
	&__body {
		flex: 1 1 100%;
		padding: 30px;
	}
	// .item-practice__label
	&__label {
		color: #252b42;
		font-size: 16px;
		font-weight: 700;
		line-height: 150%; /* 24px */
		letter-spacing: 0.1px;
	}
	// .item-practice__text
	&__text {
		color: #737373;
		font-size: 14px;
		font-weight: 500;
		line-height: 142.857%; /* 20px */
		letter-spacing: 0.2px;
	}
	// .item-practice__icon
	&__icon {
		// align-self: flex-end;
		position: relative;
		padding: 60% 0px 0px 0px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
//======================================================================
.whoweare {
	// .whoweare__container
	&__container {
	}
	// .whoweare__top
	&__top {
		margin: 0px 0px 100px 0px;
		@media (max-width: ($md3+px)) {
			margin: 0px 0px 50px 0px;
		}
	}
	// .whoweare__bottom
	&__bottom {
		@media (min-width: 880px) {
			display: flex;
			// flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	// .whoweare__media
	&__media {
		position: relative;
		padding: 56% 0px 0px 0px;
		margin: 0px 0px 20px 0px;
		@media (min-width: 880px) {
			padding: 44% 0px 0px 0px;
			flex: 0 1 60%;
			margin: 0;
		}
		video {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		source {
		}
	}
	// .whoweare__description
	&__description {
		flex: 0 0 323px;
	}
}
.description {
	padding: 0px 0px 0px 10px;
	// .description__body
	&__body {
	}
	// .description__top
	&__top {
		text-align: left;
		margin: 0px 0px 50px 0px;
	}
	// .description__footer
	&__footer {
	}
}
.footer-description {
	// .footer-description__row
	&__row {
		display: flex;
	}
}
.row-description {
	margin: 0px 0px 30px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
	@media (any-hover: hover) {
		&:hover {
			.row-description__icon {
				color: $orangeColor;
			}
		}
	}
	// .row-description__icon
	&__icon {
		font-size: 26px;
		color: $mainColor;
	}
	// .row-description__body
	&__body {
		padding: 0px 0px 0px 20px;
	}
	// .row-description__title
	&__title {
		color: #252b42;
		font-size: 16px;
		font-weight: 700;
		line-height: 150%; /* 24px */
		letter-spacing: 0.1px;
	}
	// .row-description__subtitle
	&__subtitle {
		color: #737373;
		font-weight: 600;
		line-height: 171.429%; /* 24px */
		letter-spacing: 0.2px;
	}
}
//======================================================================
.brands {
	background-color: #fafafa;
	// .brands__container
	&__container {
	}
	// .brands__slider
	&__slider {
	}
}
.brandslider {
	// .brandslider__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .brandslider__slide
	&__slide {
		align-self: center;
		text-align: center;
	}
	// .brandslider__image
	&__image {
		padding: 0px 10px;
		font-size: 60px;
		color: $greyColor;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
//======================================================================
.subscribe {
	// .subscribe__container
	&__container {
	}
	// .subscribe__body
	&__body {
		margin: 0px auto;
		max-width: 98%;
		align-items: center;
		background-color: #17213c;
		padding: 30px 50px;
		border-radius: 2px;
		@media (min-width: ($md3+px)) {
			display: flex;
			justify-content: space-between;
		}
		@media (max-width: ($md5+px)) {
			padding: 20px;
		}
	}
	// .subscribe__title
	&__title {
		flex: 0 0 40%;
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		line-height: 133.333%; /* 32px */
		letter-spacing: 0.1px;
		padding: 0px 30px 0px 0px;
		@media (max-width: ($md3+px)) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .subscribe__body-form
	&__body-form {
		flex: 0 1 50%;
		@media (max-width: ($md3+px)) {
			flex: 0 1 50%;
		}
		@media (max-width: ($md2+px)) {
			flex: 1 1 auto;
		}
	}
	// .subscribe__form all child
	&__form > * {
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .subscribe__form
	&__form {
		display: flex;
		@media (max-width: ($md5+px)) {
			flex-wrap: wrap;
		}
	}
	// .subscribe__input
	&__input {
		height: 45px;
		border-radius: 5px;
		width: 100%;
		padding: 0px 20px;
		@media (min-width: ($md3+px)) {
		}
		@media (min-width: ($md5+px)) {
			border-radius: 5px 0 0 5px;
			height: 55px;
		}
	}
	// .subscribe__button
	&__button {
		height: 45px;
		border-radius: 5px;
		flex: 1 1 auto;
		font-size: 14px;
		font-weight: 700;
		line-height: 200%; /* 28px */
		letter-spacing: 0.2px;
		border: 0px;
		@media (max-width: ($md2+px)) {
			background-color: #ff7b47;
			color: #fff;
		}
		@media (min-width: ($md2+px)) {
			&:hover {
				border: 0px;
			}
		}
		@media (min-width: ($md5+px)) {
			border-radius: 0 5px 5px 0;
			min-width: 117px;
			height: 55px;
		}
	}
	// .subscribe__strip
	&__strip {
		margin: -57px 0px 0px 0px;
		background-color: #252b42;
		height: 77px;
		width: 100%;
	}
}
//======================================================================
.getintouch {
	background-color: #f3f3f3;
	// .getintouch__container
	&__container {
	}
	// .getintouch__top
	&__top {
		margin: 0px 0px 80px 0px;
		@media (max-width: ($md3+px)) {
			margin: 0px 0px 40px 0px;
		}
	}
	// .getintouch__slider
	&__slider {
		padding: 0px 0px 150px 0px;
		@media (max-width: ($md3+px)) {
			padding: 0px 0px 80px 0px;
		}
	}
}
.getintouch-slider {
	// .getintouch-slider__body
	&__body {
		height: 100%;
	}
	// .getintouch-slider__slide
	&__slide {
		width: 328px;
		background-position: center;
		background-size: contain;
		display: flex;
		align-items: center;
		background-color: #fff;
		text-align: center;
		transition: all 0.5s ease 0s;
		@media (max-width: ($md5+px)) {
			width: 280px;
		}
	}
	// .getintouch-slider__cart all childs
	&__cart > * {
		margin: 0px 0px 15px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .getintouch-slider__cart
	&__cart {
		width: 100%;
		padding: 70px 40px;
		@media (max-width: ($md5+px)) {
			padding: 35px 20px;
		}
	}
	.swiper-slide-active.getintouch-slider__slide {
		background-color: #252b42;
		color: #fff;
	}
	// .getintouch-slider__icon
	&__icon {
		font-size: 72px;
		color: $mainColor;
	}
	// .getintouch-slider__email
	&__email {
		color: #252b42;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		line-height: 171.429%; /* 24px */
		letter-spacing: 0.2px;
	}
	.swiper-slide-active .getintouch-slider__email,
	.swiper-slide-active .getintouch-slider__icon {
		color: #fff;
	}
	// .getintouch-slider__label
	&__label {
		color: #252b42;
		font-size: 16px;
		font-weight: 700;
		line-height: 150%; /* 24px */
		letter-spacing: 0.1px;
	}
	.swiper-slide-active .getintouch-slider__label {
		color: #fff;
	}

	// .getintouch-slider__button
	&__button {
		border-radius: 5px;
		border: 1px solid #ff7b47;
		color: #ff7b47;
	}
	.swiper-slide-active .getintouch-slider__button {
		color: #fff;
		border: 1px solid #fff;
	}
}
//</ОСНОВНОЙ БЛОК>======================================================================
