//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================

//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
@import "icons";
//</Иконочные шрифты>=================================

//<Swiper>=================================
// @import "swiper-bundle";
//</Swiper>=================================

//<Шрифт по умолчанию>=================================
// $fontFamily: "Roboto";
//</Шрифт по умолчанию>=================================

//</ШРИФТЫ>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12; //1192px
$md2: 992;
$md3: 768;
$md4: 640;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОСНОВНАЯ СЕТКА>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
	// min-width: 0;
	@media (max-width: ($md3+px)) {
		padding: 0 10px;
	}
	@media (max-width: ($md4+px)) {
		padding: 0px 5px;
	}
}
//</ОСНОВНАЯ СЕТКА>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
//@import "datepicker";
//@import "lightgallary";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
	flex: 1 1 auto;
	// background-color: rgba(0, 0, 0, 0.3);

	// .page__container
	&__container {
		// padding: 0px 0px 20px 0px;
		@media (min-width: ($md2+px)) {
			display: flex;
		}
	}

	//======================================================================
	.breadcrumbs {
		overflow: auto;
		margin: 0px 0px 20px 0px;
		height: 20px;
		// .breadcrumbs__list
		&__list {
			display: flex;
			align-items: center;
			white-space: nowrap;
			li {
				margin: 0px 10px 0px 0px;
				padding: 0px 20px 0px 0px;
				background: url("../img/icons/arrow_text.png") right / 10px no-repeat;
				&:last-child {
					margin: 0px 0px 0px 0px;
					background: none;
				}
			}
		}
		// .breadcrumbs__link
		&__link {
			color: #1ab9ce;
			text-decoration: underline;
		}
		// .breadcrumbs__item
		&__item {
			color: 999px;
			font-weight: 300;
		}
	}
	//======================================================================
}
//======================================================================
//</ОСНОВНОЙ БЛОК>======================================================================
